extends layout

block content
  h1= title
  p Manipulación de películas y productores

  form#form_add_student(name="todasPeli", method="get",
    action="/todasPeli")
    button#submit_student(type="submit") Todas las películas
  br
  br

  form#form_add_student(name="newPeli", method="get",
    action="/newPeli")
    button#submit_student(type="submit") Agregar película
  br
  br

  form#form_add_student(name="deletePeli", method="get",
    action="/deletePeli")
    button#submit_student(type="submit") Remover película
  br
  br

  form#form_add_student(name="todasProd", method="get",
    action="/todasProd")
    button#submit_student(type="submit") Todas las productoras
  br
  br

  form#form_add_student(name="newProd", method="get",
    action="/newProd")
    button#submit_student(type="submit") Agregar productora
  br
  br

  form#form_add_student(name="deleteProd", method="get",
    action="/deleteProd")
    button#submit_student(type="submit") Remover productora
  br
  br

  form#form_add_student(name="buscarPeli", method="get",
    action="/buscarPeli")
    button#submit_student(type="submit") Buscar pelicula por nombre
  br
  br
  
  form#form_add_student(name="buscarFran", method="get",
    action="/buscarFran")
    button#submit_student(type="submit") Buscar pelicula por franquicia
  br
  br

  form#form_add_student(name="buscarDia", method="get",
    action="/buscarDia")
    button#submit_student(type="submit") Buscar pelicula por fecha
  br
  br

  form#form_add_student(name="buscarProd", method="get",
    action="/buscarProd")
    button#submit_student(type="submit") Buscar pelicula por productor
  br
  br

  form#form_add_student(name="dataPeli", method="get",
    action="/dataPeli")
    button#submit_student(type="submit") Datos de peliculas