extends layout
block content

    form#Home(name="", method="get",action="/")
        button#submit_home(type="submit") Home
    br
    br

    h1.
        Pelicula buscada:
    form#form_add_student(name="buscarFran", method="get",
    action="/buscarFran")
        ul
            each pelicula, i in peli
                li#pelicula_list_item Nombre: #{pelicula.nombre}; Genero: #{pelicula.genero}; Director: #{pelicula.director}; Franquicia: #{pelicula.franquicia}; Pais: #{pelicula.pais}; Año: #{pelicula.year}; Duracion: #{pelicula.duracion}; Productor: #{pelicula.productor}; Actores: #{pelicula.actores}
                br
            br
            br
        
        button#submit_student(type="submit") Buscar otra pelicula